<div class="form-select__dropdown">
    <ul class="form-select__dropdown__list" style="max-height: 148.25px;">
        <li class="form-select__dropdown__item" data-code="AF" data-name="Afghanistan">
            <img src="https://www.cia.gov/the-world-factbook/static/2b3a06ae2c0b517dbfe6629f1f967718/66ca9/AF-flag.webp" alt="Flag of Afghanistan" class="vti__flag af">Afghanistan
        </li>
        
        <li class="form-select__dropdown__item" data-code="AL" data-name="Albania">
            <img src="https://www.cia.gov/the-world-factbook/static/fed891deebb3236abec616fd774c7a6c/c9861/AL-flag.webp" alt="Flag of Albania" class="vti__flag al">Albania
        </li>

        <li class="form-select__dropdown__item" data-code="DZ" data-name="Algeria">
            <img src="https://www.cia.gov/the-world-factbook/static/0b8515d07d8cd5d40f93527171279805/ccf75/AG-flag.webp" alt="Flag of Algeria" class="vti__flag dz">Algeria
        </li>
        <li class="form-select__dropdown__item" data-code="AS" data-name="American Samoa">
            <img src="https://www.cia.gov/the-world-factbook/static/7779f884f6036232ed10ad0e1404745b/7b8ce/AQ-flag.webp" alt="Flag of American Samoa" class="vti__flag as">American Samoa
        </li>
        <li class="form-select__dropdown__item" data-code="AD" data-name="Andorra">
            <img src="https://www.cia.gov/the-world-factbook/static/5a3b39e923ca494d3bd4923cb8bb0c2d/c4d99/AN-flag.webp" alt="Flag of Andorra" class="vti__flag ad">Andorra
        </li>
        <li class="form-select__dropdown__item" data-code="AO" data-name="Angola">
            <img src="https://www.cia.gov/the-world-factbook/static/f8266b04912be1432c38e9084b328e91/70f09/AO-flag.webp" alt="Flag of Angola" class="vti__flag ao">Angola
        </li>
        <li class="form-select__dropdown__item" data-code="AI" data-name="Anguilla">
            <img src="https://www.cia.gov/the-world-factbook/static/bb31b658fa6cff60f645b20c15996f9c/d86a8/AV-flag.webp" alt="Flag of Anguilla" class="vti__flag ai">Anguilla
        </li>
        <li class="form-select__dropdown__item" data-code="AG" data-name="Antigua and Barbuda">
            <img src="https://www.cia.gov/the-world-factbook/static/2df2897de636a97a3253e01c93f38d22/70f09/AC-flag.webp" alt="Flag of Antigua and Barbuda" class="vti__flag ag">Antigua and Barbuda
        </li>
        <li class="form-select__dropdown__item" data-code="AR" data-name="Argentina">
            <img src="https://www.cia.gov/the-world-factbook/static/242f28ed72e2462aacb91dc6cc12b850/0e14a/AR-flag.webp" alt="Flag of Argentina" class="vti__flag ar">Argentina
        </li>
        <li class="form-select__dropdown__item" data-code="AM" data-name="Armenia">
            <img src="https://www.cia.gov/the-world-factbook/static/4c04e11d92945e0716d17d28e80644e2/436ac/AM-flag.webp" alt="Flag of Armenia" class="vti__flag am">Armenia
        </li>
        <li class="form-select__dropdown__item" data-code="AU" data-name="Australia">
            <img src="https://www.cia.gov/the-world-factbook/static/b3526e3d199489a9690b9ab17966c5b4/cd5ef/AS-flag.webp" alt="Flag of Australia" class="vti__flag au">Australia
        </li>
        <li class="form-select__dropdown__item" data-code="AT" data-name="Austria">
            <img src="https://www.cia.gov/the-world-factbook/static/aeb6e44fe03c59364b760652f78d046b/b0f1a/AU-flag.webp" alt="Flag of Austria" class="vti__flag at">Austria
        </li>
        <li class="form-select__dropdown__item" data-code="AZ" data-name="Azerbaijan">
            <img src="https://www.cia.gov/the-world-factbook/static/6169bbf4522db3db5bb8526974a25ff5/cd5ef/AJ-flag.webp" alt="Flag of Azerbaijan" class="vti__flag az">Azerbaijan
        </li>
        <li class="form-select__dropdown__item" data-code="BS" data-name="Bahamas">
            <img src=" https://www.cia.gov/the-world-factbook/static/4b154032f603332afbbe5304d2daa1bb/cd5ef/BF-flag.webp" alt="Flag of Bahamas" class="vti__flag bs">Bahamas
        </li>
        <li class="form-select__dropdown__item" data-code="BH" data-name="Bahrain">
            <img src="https://www.cia.gov/the-world-factbook/static/22cad7eccb01bd46b353c1b39ccdfeea/1b85e/BA-flag.webp" alt="Flag of Bahrain" class="vti__flag bh">Bahrain
        </li>
        <li class="form-select__dropdown__item" data-code="BD" data-name="Bangladesh">
            <img src="https://www.cia.gov/the-world-factbook/static/cacf3c00147c3beff577b9f0b8c73c0c/34e4b/BG-flag.webp" alt="Flag of Bangladesh" class="vti__flag bd">Bangladesh
        </li>
        <li class="form-select__dropdown__item" data-code="BB" data-name="Barbados">
            <img src="https://www.cia.gov/the-world-factbook/static/99bc2add8d354fb43bf83573e5745adc/47294/BB-flag.webp" alt="Flag of Barbados" class="vti__flag bb">Barbados
        </li>
        <li class="form-select__dropdown__item" data-code="BY" data-name="Belarus">
            <img src="https://www.cia.gov/the-world-factbook/static/e448dc6842b4f256ec43535970f23e7f/cd5ef/BO-flag.webp" alt="Flag of Belarus" class="vti__flag by">Belarus
        </li>
        <li class="form-select__dropdown__item" data-code="BE" data-name="Belgium">
            <img src="https://www.cia.gov/the-world-factbook/static/bdb936ec81c2b3a5c1c888dc50042978/64b62/BE-flag.webp" alt="Flag of Belgium" class="vti__flag be">Belgium
        </li>
        <li class="form-select__dropdown__item" data-code="BZ" data-name="Belize">
            <img src="https://www.cia.gov/the-world-factbook/static/d9397848051f774c332e65f5a6b87fbe/76f01/BH-flag.webp" alt="Flag of Belize" class="vti__flag bz">Belize
        </li>
        <li class="form-select__dropdown__item" data-code="BJ" data-name="Benin">
            <img src="https://www.cia.gov/the-world-factbook/static/1abc0c00667c45e72960d603131464ac/76f01/BN-flag.webp" alt="Flag of Benin" class="vti__flag bj">Benin
        </li>
        <li class="form-select__dropdown__item" data-code="BT" data-name="Bhutan">
            <img src="https://www.cia.gov/the-world-factbook/static/f39ead21d3d45d00b1f4f175c881d85b/dae3b/BT-flag.webp" alt="Flag of Bhutan" class="vti__flag bt">Bhutan
        </li>
        <li class="form-select__dropdown__item" data-code="BO" data-name="Bolivia">
            <img src="https://www.cia.gov/the-world-factbook/static/6d88a206db32928921c65765fb815df4/76f01/BL-flag.webp" alt="Flag of Bolivia" class="vti__flag bo">Bolivia
        </li>
        <li class="form-select__dropdown__item" data-code="BA" data-name="Bosnia and Herzegovina">
            <img src="https://www.cia.gov/the-world-factbook/static/c053f22709fa106d615cef0d0cf7e202/bf4ae/BK-flag.webp" alt="Flag of Bosnia and Herzegovina" class="vti__flag ba">Bosnia and Herzegovina
        </li>
        <li class="form-select__dropdown__item" data-code="BW" data-name="Botswana">
            <img src="https://www.cia.gov/the-world-factbook/static/238f5c992f93619d9f3f6897f3321c3a/76f01/BC-flag.webp" alt="Flag of Botswana" class="vti__flag bw">Botswana
        </li>
        <li class="form-select__dropdown__item" data-code="BR" data-name="Brazil">
            <img src="https://www.cia.gov/the-world-factbook/static/3df8e40fa28f17e82d9fb96d8d2394be/dcc43/BR-flag.webp" alt="Flag of Brazil" class="vti__flag br">Brazil
        </li>
        <li class="form-select__dropdown__item" data-code="BN" data-name="Brunei">
            <img src="https://www.cia.gov/the-world-factbook/static/f749d202f8a6d50046640276662f0c6f/cd5ef/BX-flag.webp" alt="Flag of Brunei" class="vti__flag bn">Brunei
        </li>
        <li class="form-select__dropdown__item" data-code="BG" data-name="Bulgaria">
            <img src="https://www.cia.gov/the-world-factbook/static/119c972342201d92880810c63128dd9f/0e14a/BU-flag.webp" alt="Flag of Bulgaria" class="vti__flag bg">Bulgaria
        </li>
        <li class="form-select__dropdown__item" data-code="BF" data-name="Burkina Faso">
            <img src="https://www.cia.gov/the-world-factbook/static/135b240ae4ccaf7e3e0437519858a256/70f09/UV-flag.webp" alt="Flag of Burkina Faso" class="vti__flag bf">Burkina Faso
        </li>
        <li class="form-select__dropdown__item" data-code="BI" data-name="Burundi">
            <img src="https://www.cia.gov/the-world-factbook/static/cf62e62630241c55193fef70d184d368/b0f1a/BY-flag.webp" alt="Flag of Burundi" class="vti__flag bi">Burundi
        </li>
        <li class="form-select__dropdown__item" data-code="CV" data-name="Cabo Verde">
            <img src="https://www.cia.gov/the-world-factbook/static/0bba95cfab0f35b71bd20926fb3b0dea/47294/CV-flag.webp" alt="Flag of Cabo Verde" class="vti__flag cv">Cabo Verde
        </li>
        <li class="form-select__dropdown__item" data-code="KH" data-name="Cambodia">
            <img src="https://www.cia.gov/the-world-factbook/static/8f53f8e336a07a7a3cd36121ebea5b9f/47294/CB-flag.webp" alt="Flag of Cambodia" class="vti__flag kh">Cambodia
        </li>
        <li class="form-select__dropdown__item" data-code="CM" data-name="Cameroon">
            <img src="https://www.cia.gov/the-world-factbook/static/72cad69715ec25b7e0e8e09764d8a55f/47294/CM-flag.webp" alt="Flag of Cameroon" class="vti__flag cm">Cameroon
        </li>
        <li class="form-select__dropdown__item" data-code="CA" data-name="Canada">
            <img src="https://www.cia.gov/the-world-factbook/static/166f67b383bf713162ff75de959d957f/bf4ae/CA-flag.webp" alt="Flag of Canada" class="vti__flag ca">Canada
        </li>
        <li class="form-select__dropdown__item" data-code="CV" data-name="Cape Verde">
            <img src="" alt="Flag of Cape Verde" class="vti__flag cv">Cape Verde
        </li>
        <li class="form-select__dropdown__item" data-code="CF" data-name="Central African Republic">
            <img src="https://www.cia.gov/the-world-factbook/static/6a012a30c3f1369f92bfefa83bdae7cc/47294/CT-flag.webp" alt="Flag of Central African Republic" class="vti__flag cf">Central African Republic
        </li>
        <li class="form-select__dropdown__item" data-code="TD" data-name="Chad">
            <img src="https://www.cia.gov/the-world-factbook/static/9b26067ad574dd8b9eb7405798a3376b/47294/CD-flag.webp" alt="Flag of Chad" class="vti__flag td">Chad
        </li>
        <li class="form-select__dropdown__item" data-code="CL" data-name="Chile">
            <img src="https://www.cia.gov/the-world-factbook/static/ea5fede19d4acf99e6da186e63431093/47294/CI-flag.webp" alt="Flag of Chile" class="vti__flag cl">Chile
        </li>
        <li class="form-select__dropdown__item" data-code="CN" data-name="China">
            <img src="https://www.cia.gov/the-world-factbook/static/a2fe5c3341b8238cda968f0e3564243d/e0122/CH-flag.webp" alt="Flag of China" class="vti__flag cn">China
        </li>
        <li class="form-select__dropdown__item" data-code="CO" data-name="Colombia">
            <img src="https://www.cia.gov/the-world-factbook/static/bc9e48880a8d14ccb99e8d800d872722/76f01/CO-flag.webp" alt="Flag of Colombia" class="vti__flag co">Colombia
        </li>
        <li class="form-select__dropdown__item" data-code="KM" data-name="Comoros">
            <img src="https://www.cia.gov/the-world-factbook/static/3f4bd5022fb2ca91f280c9a3c957123a/a0b14/CN-flag.webp" alt="Flag of Comoros" class="vti__flag km">Comoros
        </li>
        <li class="form-select__dropdown__item" data-code="CD" data-name="Congo, Democratic Republic of the">
            <img src="https://www.cia.gov/the-world-factbook/static/18855cf17229ec30204e367798ee1863/76f01/CG-flag.webp" alt="Flag of Congo, Democratic Republic of the" class="vti__flag cd">Congo, Democratic Republic of the
        </li>
        <li class="form-select__dropdown__item" data-code="CG" data-name="Congo, Republic of the">
            <img src="https://www.cia.gov/the-world-factbook/static/242e48bc72c0306137dd2baca8776ee2/76f01/CF-flag.webp" alt="Flag of Congo, Republic of the" class="vti__flag cg">Congo, Republic of the
        </li>
        <li class="form-select__dropdown__item" data-code="CR" data-name="Costa Rica">
            <img src="https://www.cia.gov/the-world-factbook/static/582dd53d785c413d78bbd0ad7e090eae/75366/CS-flag.webp" alt="Flag of Costa Rica" class="vti__flag cr">Costa Rica

        <li class="form-select__dropdown__item" data-code="CI" data-name="Côte d'Ivoire">
            <img src="https://www.cia.gov/the-world-factbook/static/a3f4ff18c9bf3a40847998ffa59d11b8/d03f3/IV-flag.webp" alt="Flag of Côte d'Ivoire" class="vti__flag ci">Côte d'Ivoire
        </li>
        </li>
        <li class="form-select__dropdown__item" data-code="HR" data-name="Croatia">
            <img src="https://www.cia.gov/the-world-factbook/static/73ba27cd0ddd40165aac433837725cfe/9a9c3/HR-flag.webp" alt="Flag of Croatia" class="vti__flag hr">Croatia
        </li>
        <li class="form-select__dropdown__item" data-code="CU" data-name="Cuba">
            <img src="https://www.cia.gov/the-world-factbook/static/8061442a83ec52dabe4c68548b07c7ad/bf4ae/CU-flag.webp" alt="Flag of Cuba" class="vti__flag cu">Cuba
        </li>
        <li class="form-select__dropdown__item" data-code="CY" data-name="Cyprus">
            <img src="https://www.cia.gov/the-world-factbook/static/93d228279337d07ca122a0bd61b11016/c9bb2/CY-flag.webp" alt="Flag of Cyprus" class="vti__flag cy">Cyprus
        </li>
        <li class="form-select__dropdown__item" data-code="CZ" data-name="Czech Republic">
            <img src="https://www.cia.gov/the-world-factbook/static/fb895cb6bc31a81d7a13dde5b11c8bf2/76f01/EZ-flag.webp" alt="Flag of Czech Republic" class="vti__flag cz">Czech Republic
        </li>
        <li class="form-select__dropdown__item" data-code="DK" data-name="Denmark">
            <img src="https://www.cia.gov/the-world-factbook/static/041c62d3d4b748f4550d576057b0f611/07f98/DA-flag.webp" alt="Flag of Denmark" class="vti__flag dk">Denmark
        </li>
        <li class="form-select__dropdown__item" data-code="DJ" data-name="Djibouti">
            <img src="https://www.cia.gov/the-world-factbook/static/745c57b1b729985a260bcc0e8bbc754e/47294/DJ-flag.webp" alt="Flag of Djibouti" class="vti__flag dj">Djibouti
        </li>
        <li class="form-select__dropdown__item" data-code="DM" data-name="Dominica">
            <img src="https://www.cia.gov/the-world-factbook/static/d58c6838e2a8593a26ce0efb8fcb3bc9/cd5ef/DO-flag.webp" alt="Flag of Dominica" class="vti__flag dm">Dominica
        </li>
        <li class="form-select__dropdown__item" data-code="DO" data-name="Dominican Republic">
            <img src="https://www.cia.gov/the-world-factbook/static/28eae13e6f0abab23e1b3e9f4b224e38/8e322/DR-flag.webp" alt="Flag of Dominican Republic" class="vti__flag do">Dominican Republic
        </li>
        <li class="form-select__dropdown__item" data-code="EC" data-name="Ecuador">
            <img src="https://www.cia.gov/the-world-factbook/static/0c8b9a22ba84ea38cf839c33f727042f/10792/EC-flag.webp" alt="Flag of Ecuador" class="vti__flag ec">Ecuador
        </li>
        <li class="form-select__dropdown__item" data-code="EG" data-name="Egypt">
            <img src="https://www.cia.gov/the-world-factbook/static/dc3efb61fa3e9595efd88163dc0e1e3d/47294/EG-flag.webp" alt="Flag of Egypt" class="vti__flag eg">Egypt
        </li>
        <li class="form-select__dropdown__item" data-code="SV" data-name="El Salvador">
            <img src="https://www.cia.gov/the-world-factbook/static/d57ea746ed6644a80c07ea5ddeadbdfe/75366/ES-flag.webp" alt="Flag of El Salvador" class="vti__flag sv">El Salvador
        </li>
        <li class="form-select__dropdown__item" data-code="GQ" data-name="Equatorial Guinea">
            <img src="https://www.cia.gov/the-world-factbook/static/c67b3b64d8f36f8089be2bb0e3480135/e0122/EK-flag.webp" alt="Flag of Equatorial Guinea" class="vti__flag gq">Equatorial Guinea
        </li>
        <li class="form-select__dropdown__item" data-code="ER" data-name="Eritrea">
            <img src="https://www.cia.gov/the-world-factbook/static/cec78149eb5101065d53bad32fffcd70/cd5ef/ER-flag.webp" alt="Flag of Eritrea" class="vti__flag er">Eritrea
        </li>
        <li class="form-select__dropdown__item" data-code="EE" data-name="Estonia">
            <img src="https://www.cia.gov/the-world-factbook/static/1928d48f521bbf3e09a0b62ee3f85d9f/2580b/EN-flag.webp" alt="Flag of Estonia" class="vti__flag ee">Estonia
        </li>
        <li class="form-select__dropdown__item" data-code="SZ" data-name="Eswatini">
            <img src="https://www.cia.gov/the-world-factbook/static/86f6355108c50757568024a9b21e4054/af844/WZ-flag.webp" alt="Flag of Eswatini" class="vti__flag sz">Eswatini
        </li>
        <li class="form-select__dropdown__item" data-code="ET" data-name="Ethiopia">
            <img src="https://www.cia.gov/the-world-factbook/static/84eae15dafba90d949cbc8a06ec5d599/151df/ET-flag.webp" alt="Flag of Ethiopia" class="vti__flag et">Ethiopia
        </li>
        <li class="form-select__dropdown__item" data-code="FJ" data-name="Fiji">
            <img src="https://www.cia.gov/the-world-factbook/static/df9716822d38505a403a6c0af6bb83a1/bf4ae/FJ-flag.webp" alt="Flag of Fiji" class="vti__flag fj">Fiji
        </li>
        <li class="form-select__dropdown__item" data-code="FI" data-name="Finland">
            <img src="https://www.cia.gov/the-world-factbook/static/fbda235c74f64157a07433d9f999f46b/37892/FI-flag.webp" alt="Flag of Finland" class="vti__flag fi">Finland
        </li>
        <li class="form-select__dropdown__item" data-code="FR" data-name="France">
            <img src="https://www.cia.gov/the-world-factbook/static/6ff09e3ae4da489810f797ab1cf8e366/76f01/FR-flag.webp" alt="Flag of France" class="vti__flag fr">France
        </li>
        <li class="form-select__dropdown__item" data-code="GA" data-name="Gabon">
            <img src="https://www.cia.gov/the-world-factbook/static/24bceaf7f8b932203f3f76ecf06b0af4/76f01/GB-flag.webp" alt="Flag of Gabon" class="vti__flag ga">Gabon
        </li>
        <li class="form-select__dropdown__item" data-code="GM" data-name="Gambia">
            <img src="https://www.cia.gov/the-world-factbook/static/b71a15ee30226bf04936fd9e80a18c2b/76f01/GA-flag.webp" alt="Flag of Gambia" class="vti__flag gm">Gambia
        </li>
        <li class="form-select__dropdown__item" data-code="GE" data-name="Georgia">
            <img src="https://www.cia.gov/the-world-factbook/static/811c8e2bcdf7de20a0a7116b7233f346/47294/GG-flag.webp" alt="Flag of Georgia" class="vti__flag ge">Georgia
        </li>
        <li class="form-select__dropdown__item" data-code="DE" data-name="Germany">
            <img src="https://www.cia.gov/the-world-factbook/static/8d077ebb024df7e5bb9abffd4d7e9b2e/02841/GM-flag.webp" alt="Flag of Germany" class="vti__flag de">Germany
        </li>
        <li class="form-select__dropdown__item" data-code="GH" data-name="Ghana">
            <img src="https://www.cia.gov/the-world-factbook/static/89fce68954745db3665b757885689a51/47294/GH-flag.webp" alt="Flag of Ghana" class="vti__flag gh">Ghana
        </li>
        <li class="form-select__dropdown__item" data-code="GR" data-name="Greece">
            <img src="https://www.cia.gov/the-world-factbook/static/fda094a0603933e16fe1478d2725d044/30f21/GR-flag.webp" alt="Flag of Greece" class="vti__flag gr">Greece
        </li>
        <li class="form-select__dropdown__item" data-code="GD" data-name="Grenada">
            <img src="https://www.cia.gov/the-world-factbook/static/b1b7e87073621a468ab691631686fc1e/c1503/GJ-flag.webp" alt="Flag of Grenada" class="vti__flag gd">Grenada
        </li>
        <li class="form-select__dropdown__item" data-code="GT" data-name="Guatemala">
            <img src="https://www.cia.gov/the-world-factbook/static/57ec37c7073a7e267b5406fb772d0113/921bf/GT-flag.webp" alt="Flag of Guatemala" class="vti__flag gt">Guatemala
        </li>
        <li class="form-select__dropdown__item" data-code="GN" data-name="Guinea">
            <img src="https://www.cia.gov/the-world-factbook/static/c32c5c5e52cd4dffd129ad2c5c06dcde/47294/GV-flag.webp" alt="Flag of Guinea" class="vti__flag gn">Guinea
        </li>
        <li class="form-select__dropdown__item" data-code="GW" data-name="Guinea-Bissau">
            <img src="https://www.cia.gov/the-world-factbook/static/64f46165193fa4e26615bd346ea81cfc/bf4ae/PU-flag.webp" alt="Flag of Guinea-Bissau" class="vti__flag gw">Guinea-Bissau
        </li>
        <li class="form-select__dropdown__item" data-code="GY" data-name="Guyana">
            <img src="https://www.cia.gov/the-world-factbook/static/7f8c6567808575299b513621af7bc3a3/76f01/GY-flag.webp" alt="Flag of Guyana" class="vti__flag gy">Guyana
        </li>
        <li class="form-select__dropdown__item" data-code="HT" data-name="Haiti">
            <img src="https://www.cia.gov/the-world-factbook/static/2a1b90800af8530bf6fde9ab9a0445ea/47294/HA-flag.webp" alt="Flag of Haiti" class="vti__flag ht">Haiti
        </li>
        <li class="form-select__dropdown__item" data-code="HN" data-name="Honduras">
            <img src="https://www.cia.gov/the-world-factbook/static/edddadc5890b938bf132b2a37d0e8172/16c05/HO-flag.webp" alt="Flag of Honduras" class="vti__flag hn">Honduras
        </li>
        <li class="form-select__dropdown__item" data-code="HU" data-name="Hungary">
            <img src="https://www.cia.gov/the-world-factbook/static/6704962ae51feb23631ba10493b65d87/47294/HU-flag.webp" alt="Flag of Hungary" class="vti__flag hu">Hungary
        </li>
        <li class="form-select__dropdown__item" data-code="IS" data-name="Iceland">
            <img src="https://www.cia.gov/the-world-factbook/static/5383603e61da56f6586e50ecbe0ebe6f/302c9/IC-flag.webp" alt="Flag of Iceland" class="vti__flag is">Iceland
        </li>
        <li class="form-select__dropdown__item" data-code="IN" data-name="India">
            <img src="https://www.cia.gov/the-world-factbook/static/4abd686317d1c5b2af07eec1face332d/47294/IN-flag.webp" alt="Flag of India" class="vti__flag in">India
        </li>
        <li class="form-select__dropdown__item" data-code="ID" data-name="Indonesia">
            <img src="https://www.cia.gov/the-world-factbook/static/658471cecd516cecd70fe91324b34d02/76f01/ID-flag.webp" alt="Flag of Indonesia" class="vti__flag id">Indonesia
        </li>
        <li class="form-select__dropdown__item" data-code="IR" data-name="Iran">
            <img src="https://www.cia.gov/the-world-factbook/static/834c38a8db9b10222dc62a847b051463/cd07d/IR-flag.webp" alt="Flag of Iran" class="vti__flag ir">Iran
        </li>
        <li class="form-select__dropdown__item" data-code="IQ" data-name="Iraq">
            <img src="https://www.cia.gov/the-world-factbook/static/d36ed53850af233282da1905a6cd0415/47294/IZ-flag.webp" alt="Flag of Iraq" class="vti__flag iq">Iraq
        </li>
        <li class="form-select__dropdown__item" data-code="IE" data-name="Ireland">
            <img src="https://www.cia.gov/the-world-factbook/static/1bfe999ef1051c25a748dc60e8c0b2a3/cd5ef/EI-flag.webp" alt="Flag of Ireland" class="vti__flag ie">Ireland
        </li>
        <li class="form-select__dropdown__item" data-code="IL" data-name="Israel">
            <img src="https://www.cia.gov/the-world-factbook/static/b2351346b4eb8579d34adfa5463f7685/08b00/IS-flag.webp" alt="Flag of Israel" class="vti__flag il">Israel
        </li>
        <li class="form-select__dropdown__item" data-code="IT" data-name="Italy">
            <img src="https://www.cia.gov/the-world-factbook/static/33b85da9b15e69745c3d63b6025f5e05/b0f1a/IT-flag.webp" alt="Flag of Italy" class="vti__flag it">Italy
        </li>
        <li class="form-select__dropdown__item" data-code="JM" data-name="Jamaica">
            <img src="https://www.cia.gov/the-world-factbook/static/7cdfdec7aab8523c71170f2696421c9d/cd5ef/JM-flag.webp" alt="Flag of Jamaica" class="vti__flag jm">Jamaica
        </li>
        <li class="form-select__dropdown__item" data-code="JP" data-name="Japan">
            <img src="https://www.cia.gov/the-world-factbook/static/f8a50feaf50a9cc30a4fac576cf41c03/47294/JA-flag.webp" alt="Flag of Japan" class="vti__flag jp">Japan
        </li>
        <li class="form-select__dropdown__item" data-code="JO" data-name="Jordan">
            <img src="https://www.cia.gov/the-world-factbook/static/49d79f219f064dca25c3c2fcee71435d/cd5ef/JO-flag.webp" alt="Flag of Jordan" class="vti__flag jo">Jordan
        </li>
        <li class="form-select__dropdown__item" data-code="KZ" data-name="Kazakhstan">
            <img src="https://www.cia.gov/the-world-factbook/static/c4532ffe3da5a575e2c86326fd181dc6/89bff/KZ-flag.webp" alt="Flag of Kazakhstan" class="vti__flag kz">Kazakhstan
        </li>
        <li class="form-select__dropdown__item" data-code="KE" data-name="Kenya">
            <img src="https://www.cia.gov/the-world-factbook/static/9d78485baf5464695b2d2b0fdb6f1c89/47294/KE-flag.webp" alt="Flag of Kenya" class="vti__flag ke">Kenya
        </li>
        <li class="form-select__dropdown__item" data-code="KI" data-name="Kiribati">
            <img src="https://www.cia.gov/the-world-factbook/static/3bcf01355e73484c31ebc74f2d10b1ae/47294/KR-flag.webp" alt="Flag of Kiribati" class="vti__flag ki">Kiribati
        </li>
        <li class="form-select__dropdown__item" data-code="KP" data-name="North Korea">
            <img src="https://www.cia.gov/the-world-factbook/static/32a62338013a84333a48cfb748f4492b/cd5ef/KN-flag.webp" alt="Flag of North Korea" class="vti__flag kp">North Korea
        </li>
        <li class="form-select__dropdown__item" data-code="KR" data-name="South Korea">
            <img src="https://www.cia.gov/the-world-factbook/static/9470069f08f52649838310aa6aab7bf1/d2ef1/KS-flag.webp" alt="Flag of South Korea" class="vti__flag kr">South Korea
        </li>
        <li class="form-select__dropdown__item" data-code="KW" data-name="Kuwait">
            <img src="https://www.cia.gov/the-world-factbook/static/23c87358d7ba9b6f1e4665d526e5d2dc/436ac/KU-flag.webp" alt="Flag of Kuwait" class="vti__flag kw">Kuwait
        </li>
        <li class="form-select__dropdown__item" data-code="KG" data-name="Kyrgyzstan">
            <img src="https://www.cia.gov/the-world-factbook/static/2512fc2267fa81db56cbbc586d1f0bb3/70f09/KG-flag.webp" alt="Flag of Kyrgyzstan" class="vti__flag kg">Kyrgyzstan
        </li>
        <li class="form-select__dropdown__item" data-code="LA" data-name="Laos">
            <img src="https://www.cia.gov/the-world-factbook/static/a01261307b72d4c4b44ea9eb02e6a28d/70f09/LA-flag.webp" alt="Flag of Laos" class="vti__flag la">Laos
        </li>
        <li class="form-select__dropdown__item" data-code="LV" data-name="Latvia">
            <img src="https://www.cia.gov/the-world-factbook/static/d56b6a3fd886fa5b060f55bf52d4a9f0/89bff/LG-flag.webp" alt="Flag of Latvia" class="vti__flag lv">Latvia
        </li>
        <li class="form-select__dropdown__item" data-code="LB" data-name="Lebanon">
            <img src="https://www.cia.gov/the-world-factbook/static/e7522d7753cda4c412dcfa75b247d7a4/47294/LE-flag.webp" alt="Flag of Lebanon" class="vti__flag lb">Lebanon
        </li>
        <li class="form-select__dropdown__item" data-code="LS" data-name="Lesotho">
            <img src="https://www.cia.gov/the-world-factbook/static/99a1d7293f0211f3d8b7a30388462b20/b0f1a/LT-flag.webp" alt="Flag of Lesotho" class="vti__flag ls">Lesotho
        </li>
        <li class="form-select__dropdown__item" data-code="LR" data-name="Liberia">
            <img src="https://www.cia.gov/the-world-factbook/static/2ea9f5edd4a13158922cd907d145d797/10792/LI-flag.webp" alt="Flag of Liberia" class="vti__flag lr">Liberia
        </li>
        <li class="form-select__dropdown__item" data-code="LY" data-name="Libya">
            <img src="https://www.cia.gov/the-world-factbook/static/3b9e9f7e6dae97e44fbfb260b614524d/e863a/LY-flag.webp" alt="Flag of Libya" class="vti__flag ly">Libya
        </li>
        <li class="form-select__dropdown__item" data-code="LI" data-name="Liechtenstein">
            <img src="https://www.cia.gov/the-world-factbook/static/dd081e50a07216feafa0a4cc23971c44/70f09/LS-flag.webp" alt="Flag of Liechtenstein" class="vti__flag li">Liechtenstein
        </li>
        <li class="form-select__dropdown__item" data-code="LT" data-name="Lithuania">
            <img src="https://www.cia.gov/the-world-factbook/static/e8316ad57971f25817c74e752f291ad9/76f01/LH-flag.webp" alt="Flag of Lithuania" class="vti__flag lt">Lithuania
        </li>
        <li class="form-select__dropdown__item" data-code="LU" data-name="Luxembourg">
            <img src="https://www.cia.gov/the-world-factbook/static/c6540c5972b5b3c6134c4f08a88e9cac/af253/LU-flag.webp" alt="Flag of Luxembourg" class="vti__flag lu">Luxembourg
        </li>
        <li class="form-select__dropdown__item" data-code="MG" data-name="Madagascar">
            <img src="https://www.cia.gov/the-world-factbook/static/b2c15afd8a0f40a96565c89bca7bb541/47294/MA-flag.webp" alt="Flag of Madagascar" class="vti__flag mg">Madagascar
        </li>
        <li class="form-select__dropdown__item" data-code="MW" data-name="Malawi">
            <img src="https://www.cia.gov/the-world-factbook/static/0fce22da4c6b2b44156ac701ac5168e5/b671d/MI-flag.webp" alt="Flag of Malawi" class="vti__flag mw">Malawi
        </li>
        <li class="form-select__dropdown__item" data-code="MY" data-name="Malaysia">
            <img src="https://www.cia.gov/the-world-factbook/static/1a35dbd9eb0b8ea8e77d83ea22c5b2c8/118ae/MY-flag.webp" alt="Flag of Malaysia" class="vti__flag my">Malaysia
        </li>
        <li class="form-select__dropdown__item" data-code="MV" data-name="Maldives">
            <img src="https://www.cia.gov/the-world-factbook/static/8f59611e480e43ccfe304f6e6dced39d/47294/MV-flag.webp" alt="Flag of Maldives" class="vti__flag mv">Maldives
        </li>
        <li class="form-select__dropdown__item" data-code="ML" data-name="Mali">
            <img src="https://www.cia.gov/the-world-factbook/static/3a5068be8c4ca5aae3519362db185e76/47294/ML-flag.webp" alt="Flag of Mali" class="vti__flag ml">Mali
        </li>
        <li class="form-select__dropdown__item" data-code="MT" data-name="Malta">
            <img src="https://www.cia.gov/the-world-factbook/static/fc3ca9fe1ff24fe343de79484c987b4c/47294/MT-flag.webp" alt="Flag of Malta" class="vti__flag mt">Malta
        </li>
        <li class="form-select__dropdown__item" data-code="MH" data-name="Marshall Islands">
            <img src="https://www.cia.gov/the-world-factbook/static/13849baca93737f0bed7a0da7cb14726/cd5ef/RM-flag.webp" alt="Flag of Marshall Islands" class="vti__flag mh">Marshall Islands
        </li>
        <li class="form-select__dropdown__item" data-code="MR" data-name="Mauritania">
            <img src="https://www.cia.gov/the-world-factbook/static/927d798429517834018b57c275962c09/1ebb7/MR-flag.webp" alt="Flag of Mauritania" class="vti__flag mr">Mauritania
        </li>
        <li class="form-select__dropdown__item" data-code="MU" data-name="Mauritius">
            <img src="https://www.cia.gov/the-world-factbook/static/4ec656c3db88be4fa8284f71e30bae99/47294/MP-flag.webp" alt="Flag of Mauritius" class="vti__flag mu">Mauritius
        </li>
        <li class="form-select__dropdown__item" data-code="MX" data-name="Mexico">
            <img src="https://www.cia.gov/the-world-factbook/static/2e110acbc6423b09bdd550c61d4f0335/c1503/MX-flag.webp" alt="Flag of Mexico" class="vti__flag mx">Mexico
        </li>
        <li class="form-select__dropdown__item" data-code="FM" data-name="Micronesia">
            <img src="https://www.cia.gov/the-world-factbook/static/8aefc813dcff7090ab325f3e7ababf15/50dbb/FM-flag.webp" alt="Flag of Micronesia" class="vti__flag fm">Micronesia
        </li>
        <li class="form-select__dropdown__item" data-code="MD" data-name="Moldova">
            <img src="https://www.cia.gov/the-world-factbook/static/4ceb6ebee56d5441bb62ba7eeae20f76/89bff/MD-flag.webp" alt="Flag of Moldova" class="vti__flag md">Moldova
        </li>
        <li class="form-select__dropdown__item" data-code="MC" data-name="Monaco">
            <img src="https://www.cia.gov/the-world-factbook/static/9a8017f1bb59a0e9e9c85a551d659354/70f09/MN-flag.webp" alt="Flag of Monaco" class="vti__flag mc">Monaco
        </li>
        <li class="form-select__dropdown__item" data-code="MN" data-name="Mongolia">
            <img src="https://www.cia.gov/the-world-factbook/static/334e170f21e38de7bc98127f728f1ded/67681/MG-flag.webp" alt="Flag of Mongolia" class="vti__flag mn">Mongolia
        </li>
        <li class="form-select__dropdown__item" data-code="ME" data-name="Montenegro">
            <img src="https://www.cia.gov/the-world-factbook/static/0809c26db173396575edc3b8aded4352/e4061/MJ-flag.webp" alt="Flag of Montenegro" class="vti__flag me">Montenegro
        </li>
        <li class="form-select__dropdown__item" data-code="MA" data-name="Morocco">
            <img src="https://www.cia.gov/the-world-factbook/static/50a136b9fc4269e69638bd3916fdd677/76f01/MO-flag.webp" alt="Flag of Morocco" class="vti__flag ma">Morocco
        </li>
        <li class="form-select__dropdown__item" data-code="MZ" data-name="Mozambique">
            <img src="https://www.cia.gov/the-world-factbook/static/e9b58bad631a0149abf41c6af5ba6a89/76f01/MZ-flag.webp" alt="Flag of Mozambique" class="vti__flag mz">Mozambique
        </li>
        <li class="form-select__dropdown__item" data-code="MM" data-name="Myanmar">
            <img src="https://www.cia.gov/the-world-factbook/static/61e95281411d43c102a1d719bd22cf8e/a5651/BM-flag.webp" alt="Flag of Myanmar" class="vti__flag mm">Burma
        </li>
        <li class="form-select__dropdown__item" data-code="NA" data-name="Namibia">
            <img src="https://www.cia.gov/the-world-factbook/static/35815fe5e1857172b611959abdd682f6/76f01/WA-flag.webp" alt="Flag of Namibia" class="vti__flag na">Namibia
        </li>
        <li class="form-select__dropdown__item" data-code="NR" data-name="Nauru">
            <img src="https://www.cia.gov/the-world-factbook/static/d1cb9100d645c7d70979da4d5048048d/cd5ef/NR-flag.webp" alt="Flag of Nauru" class="vti__flag nr">Nauru
        </li>
        <li class="form-select__dropdown__item" data-code="NP" data-name="Nepal">
            <img src="https://www.cia.gov/the-world-factbook/static/b841fe443d07c53e75c71bc4e77944f2/ef868/NP-flag.webp" alt="Flag of Nepal" class="vti__flag np">Nepal
        </li>
        <li class="form-select__dropdown__item" data-code="NL" data-name="Netherlands">
            <img src="https://www.cia.gov/the-world-factbook/static/5c43f5bf65fb2d64d0fd074d3128845f/76f01/NL-flag.webp" alt="Flag of Netherlands" class="vti__flag nl">Netherlands
        </li>
        <li class="form-select__dropdown__item" data-code="NZ" data-name="New Zealand">
            <img src="https://www.cia.gov/the-world-factbook/static/806fceacb2cc0d2ac59c30db0e653d2b/0a27c/NZ-flag.webp" alt="Flag of New Zealand" class="vti__flag nz">New Zealand
        </li>
        <li class="form-select__dropdown__item" data-code="NI" data-name="Nicaragua">
            <img src="https://www.cia.gov/the-world-factbook/static/e7fbd45ddee537314b7a6fdda19ac7e2/cd5ef/NU-flag.webp" alt="Flag of Nicaragua" class="vti__flag ni">Nicaragua

        <li class="form-select__dropdown__item" data-code="NE" data-name="Niger">
            <img src="https://www.cia.gov/the-world-factbook/static/abacdc943274f26ca57154e10302d408/47294/NG-flag.webp" alt="Flag of Niger" class="vti__flag ne">Niger
        </li>
        <li class="form-select__dropdown__item" data-code="NG" data-name="Nigeria">
            <img src="https://www.cia.gov/the-world-factbook/static/28e23627b09c310dd199c697bc4d3d18/118ae/NI-flag.webp" alt="Flag of Nigeria" class="vti__flag ng">Nigeria
        </li>
        <li class="form-select__dropdown__item" data-code="MK" data-name="North Macedonia">
            <img src="https://www.cia.gov/the-world-factbook/static/1b99bd1a848dc241a1975cb8b1c45fb3/70f09/MK-flag.webp" alt="Flag of North Macedonia" class="vti__flag mk">North Macedonia
        </li>
        <li class="form-select__dropdown__item" data-code="NO" data-name="Norway">
            <img src="https://www.cia.gov/the-world-factbook/static/70891da9f9d837c0a540ce8bf197d5c3/f14a2/NO-flag.webp" alt="Flag of Norway" class="vti__flag no">Norway
        </li>
        <li class="form-select__dropdown__item" data-code="OM" data-name="Oman">
            <img src="https://www.cia.gov/the-world-factbook/static/bc66f2c83d46b4c32c2478d43549bd41/85ff1/MU-flag.webp" alt="Flag of Oman" class="vti__flag om">Oman
        </li>
        <li class="form-select__dropdown__item" data-code="PK" data-name="Pakistan">
            <img src="https://www.cia.gov/the-world-factbook/static/3116d0901edf894fd7506a8959bbcb42/0ada6/PK-flag.webp" alt="Flag of Pakistan" class="vti__flag pk">Pakistan
        </li>
        <li class="form-select__dropdown__item" data-code="PW" data-name="Palau">
            <img src="https://www.cia.gov/the-world-factbook/static/f976a2d1c40aa724b820c2d9063ff1db/47294/PS-flag.webp" alt="Flag of Palau" class="vti__flag pw">Palau
        </li>
        <li class="form-select__dropdown__item" data-code="PA" data-name="Panama">
            <img src="https://www.cia.gov/the-world-factbook/static/43f60e74fdf26edddfd37e46cb8a4b70/47294/PM-flag.webp" alt="Flag of Panama" class="vti__flag pa">Panama
        </li>
        <li class="form-select__dropdown__item" data-code="PG" data-name="Papua New Guinea">
            <img src="https://www.cia.gov/the-world-factbook/static/fca5e93e3b98e54bb506c0a646225778/778cd/PP-flag.webp" alt="Flag of Papua New Guinea" class="vti__flag pg">Papua New Guinea
        </li>
        <li class="form-select__dropdown__item" data-code="PY" data-name="Paraguay">
            <img src="https://www.cia.gov/the-world-factbook/static/ce65f429ba467a381a41cb1708293847/ee3fa/PA-flag.webp" alt="Flag of Paraguay" class="vti__flag py">Paraguay
        </li>
        <li class="form-select__dropdown__item" data-code="PE" data-name="Peru">
            <img src="https://www.cia.gov/the-world-factbook/static/06be4ed8197216727679629e663da44f/76f01/PE-flag.webp" alt="Flag of Peru" class="vti__flag pe">Peru
        </li>
        <li class="form-select__dropdown__item" data-code="PH" data-name="Philippines">
            <img src="https://www.cia.gov/the-world-factbook/static/d8a1a426c11d9774d55300d8da9f3f1f/cd5ef/RP-flag.webp" alt="Flag of Philippines" class="vti__flag ph">Philippines
        </li>
        <li class="form-select__dropdown__item" data-code="PL" data-name="Poland">
            <img src="https://www.cia.gov/the-world-factbook/static/3c887f3b50380d14cce3cd54504ffc98/8acfa/PL-flag.webp" alt="Flag of Poland" class="vti__flag pl">Poland
        </li>
        <li class="form-select__dropdown__item" data-code="PT" data-name="Portugal">
            <img src="https://www.cia.gov/the-world-factbook/static/af180b3f8f3faff0f31a3b53632b7a98/d03f3/PO-flag.webp" alt="Flag of Portugal" class="vti__flag pt">Portugal
        </li>
        <li class="form-select__dropdown__item" data-code="QA" data-name="Qatar">
            <img src="https://www.cia.gov/the-world-factbook/static/4b0a28f75b5b75fa195b81a9bec29ecd/bf4ae/QA-flag.webp" alt="Flag of Qatar" class="vti__flag qa">Qatar
        </li>
        
        <li class="form-select__dropdown__item" data-code="RO" data-name="Romania">
            <img src="https://www.cia.gov/the-world-factbook/static/d07cdf9b0b839fae260039cbda4ae993/76f01/RO-flag.webp" alt="Flag of Romania" class="vti__flag ro">Romania
        </li>
        <li class="form-select__dropdown__item" data-code="RU" data-name="Russia">
            <img src="https://www.cia.gov/the-world-factbook/static/695666b3ebbdb26647be59617b7eb858/76f01/RS-flag.webp" alt="Flag of Russia" class="vti__flag ru">Russia
        </li>
        <li class="form-select__dropdown__item" data-code="RW" data-name="Rwanda">
            <img src="https://www.cia.gov/the-world-factbook/static/e581e878182e619da50e9b93d263bcad/6e9df/RW-flag.webp" alt="Flag of Rwanda" class="vti__flag rw">Rwanda
        </li>
        <li class="form-select__dropdown__item" data-code="BL" data-name="Saint Barthélemy">
            <img src="https://www.cia.gov/the-world-factbook/static/6ff09e3ae4da489810f797ab1cf8e366/76f01/TB-flag.webp" alt="Flag of Saint Barthélemy" class="vti__flag bl">Saint Barthélemy
        </li>
        <li class="form-select__dropdown__item" data-code="KN" data-name="Saint Kitts and Nevis">
            <img src="https://www.cia.gov/the-world-factbook/static/d56d14ba4a6e37a07e68f19eeaf84b17/76f01/SC-flag.webp" alt="Flag of Saint Kitts and Nevis" class="vti__flag kn">Saint Kitts and Nevis
        </li>
        <li class="form-select__dropdown__item" data-code="LC" data-name="Saint Lucia">
            <img src="https://www.cia.gov/the-world-factbook/static/6e75a452a3759be5e548edc1614b0d13/436ac/ST-flag.webp" alt="Flag of Saint Lucia" class="vti__flag lc">Saint Lucia
        </li>
        <li class="form-select__dropdown__item" data-code="MF" data-name="Saint Martin">
            <img src="https://www.cia.gov/the-world-factbook/static/6ff09e3ae4da489810f797ab1cf8e366/76f01/RN-flag.webp" alt="Flag of Saint Martin" class="vti__flag mf">Saint Martin
        </li>
        <li class="form-select__dropdown__item" data-code="SX" data-name="Sint Maarten">
            <img src="https://www.cia.gov/the-world-factbook/static/7b46eaa4fb933f359f55e2ae0d3712ef/7bceb/NN-flag.webp" alt="Flag of Sint Maarten" class="vti__flag sx">Sint Maarten
        </li>
        <li class="form-select__dropdown__item" data-code="PM" data-name="Saint Pierre and Miquelon">
            <img src="https://www.cia.gov/the-world-factbook/static/ed0a2aa5f0c7d3d7fafeedf0b0e5d706/d2ef1/SB-flag.webp" alt="Flag of Saint Pierre and Miquelon" class="vti__flag pm">Saint Pierre and Miquelon
        </li>
        <li class="form-select__dropdown__item" data-code="VC" data-name="Saint Vincent and the Grenadines">
            <img src="https://www.cia.gov/the-world-factbook/static/821765cdfb2b89fdf4946a8cb2d7fd2b/70f09/VC-flag.webp" alt="Flag of Saint Vincent and the Grenadines" class="vti__flag vc">Saint Vincent and the Grenadines
        </li>
        <li class="form-select__dropdown__item" data-code="WS" data-name="Samoa">
            <img src="https://www.cia.gov/the-world-factbook/static/1413cf45e17f9b28a31b67fce55c1837/cd5ef/WS-flag.webp" alt="Flag of Samoa" class="vti__flag ws">Samoa
        </li>
        <li class="form-select__dropdown__item" data-code="SM" data-name="San Marino">
            <img src="https://www.cia.gov/the-world-factbook/static/511c67eb0e25abf3eb2588a0772b8e25/47294/SM-flag.webp" alt="Flag of San Marino" class="vti__flag sm">San Marino
        </li>
        <li class="form-select__dropdown__item" data-code="ST" data-name="Sao Tome and Principe">
            <img src="https://www.cia.gov/the-world-factbook/static/49eb825c93d1dd0b8dbfb58bba96b917/cd5ef/TP-flag.webp" alt="Flag of Sao Tome and Principe" class="vti__flag st">Sao Tome and Principe
        </li>
        <li class="form-select__dropdown__item" data-code="SA" data-name="Saudi Arabia">
            <img src="https://www.cia.gov/the-world-factbook/static/1ff930d4a62dacfeb4bc3bd5c262549a/b0f1a/SA-flag.webp" alt="Flag of Saudi Arabia" class="vti__flag sa">Saudi Arabia
        </li>
        <li class="form-select__dropdown__item" data-code="SN" data-name="Senegal">
            <img src="https://www.cia.gov/the-world-factbook/static/03a9521ca1f35e53c6f56cbc7f30e1fd/47294/SG-flag.webp" alt="Flag of Senegal" class="vti__flag sn">Senegal
        </li>
        <li class="form-select__dropdown__item" data-code="RS" data-name="Serbia">
            <img src="https://www.cia.gov/the-world-factbook/static/63a2aebf70b3818de983fa244a311631/45fd8/RI-flag.webp" alt="Flag of Serbia" class="vti__flag rs">Serbia
        </li>
        <li class="form-select__dropdown__item" data-code="SC" data-name="Seychelles">
            <img src="https://www.cia.gov/the-world-factbook/static/58d8944095c6cc912107f37ebeb56df7/56f53/SE-flag.webp" alt="Flag of Seychelles" class="vti__flag sc">Seychelles
        </li>
        <li class="form-select__dropdown__item" data-code="SL" data-name="Sierra Leone">
            <img src="https://www.cia.gov/the-world-factbook/static/afa8720da2b2832b59abfb0517dd9591/47294/SL-flag.webp" alt="Flag of Sierra Leone" class="vti__flag sl">Sierra Leone
        </li>
        <li class="form-select__dropdown__item" data-code="SG" data-name="Singapore">
            <img src="https://www.cia.gov/the-world-factbook/static/09767f0bc6d09ecf104f1f147aa9eddd/1ebb7/SN-flag.webp" alt="Flag of Singapore" class="vti__flag sg">Singapore
        </li>
        <li class="form-select__dropdown__item" data-code="SK" data-name="Slovakia">
            <img src="https://www.cia.gov/the-world-factbook/static/84ffb769efe3badaecb055fbbf3f80e8/76f01/LO-flag.webp" alt="Flag of Slovakia" class="vti__flag sk">Slovakia
        </li>
        <li class="form-select__dropdown__item" data-code="SI" data-name="Slovenia">
            <img src="https://www.cia.gov/the-world-factbook/static/e4cbb8a2d0882bd05f11d309ade78061/9a9c3/SI-flag.webp" alt="Flag of Slovenia" class="vti__flag si">Slovenia
        </li>
        <li class="form-select__dropdown__item" data-code="SB" data-name="Solomon Islands">
            <img src="https://www.cia.gov/the-world-factbook/static/a53181b27ef4c0f454eaa623490a412e/76f01/BP-flag.webp" alt="Flag of Solomon Islands" class="vti__flag sb">Solomon Islands
        </li>
        <li class="form-select__dropdown__item" data-code="SO" data-name="Somalia">
            <img src="https://www.cia.gov/the-world-factbook/static/87dd24dab550d728e620cc9de48788a3/b713c/SO-flag.webp" alt="Flag of Somalia" class="vti__flag so">Somalia
        </li>
        <li class="form-select__dropdown__item" data-code="ZA" data-name="South Africa">
            <img src="https://www.cia.gov/the-world-factbook/static/be87b762d6b2f3a1350607390cf4187e/af253/SF-flag.webp" alt="Flag of South Africa" class="vti__flag za">South Africa
        </li>
        <li class="form-select__dropdown__item" data-code="SS" data-name="South Sudan">
            <img src="https://www.cia.gov/the-world-factbook/static/8174bda0be67b21af4704aebcf9cefcd/cd5ef/OD-flag.webp" alt="Flag of South Sudan" class="vti__flag ss">South Sudan
        </li>
        <li class="form-select__dropdown__item" data-code="ES" data-name="Spain">
            <img src="https://www.cia.gov/the-world-factbook/static/d21e89432a1c16c63e5b3c2ecd020800/36934/SP-flag.webp" alt="Flag of Spain" class="vti__flag es">Spain
        </li>
        <li class="form-select__dropdown__item" data-code="LK" data-name="Sri Lanka">
            <img src="https://www.cia.gov/the-world-factbook/static/9ef112d821395ba3b3d343f12c14fcc7/1b3a5/CE-flag.webp" alt="Flag of Sri Lanka" class="vti__flag lk">Sri Lanka
        </li>
        <li class="form-select__dropdown__item" data-code="SD" data-name="Sudan">
            <img src="https://www.cia.gov/the-world-factbook/static/975509e5e814a25c6237cc476395e968/436ac/SU-flag.webp" alt="Flag of Sudan" class="vti__flag sd">Sudan
        </li>
        <li class="form-select__dropdown__item" data-code="SR" data-name="Suriname">
            <img src="https://www.cia.gov/the-world-factbook/static/bc5670482c2975b31736f22d1ec958a2/47294/NS-flag.webp" alt="Flag of Suriname" class="vti__flag sr">Suriname
        </li>
        <li class="form-select__dropdown__item" data-code="SZ" data-name="Sweden">
            <img src="https://www.cia.gov/the-world-factbook/static/3f368b3332301f9bd43f6b20882fcaf6/4f07d/SW-flag.webp" alt="Flag of Sweden" class="vti__flag sz">Sweden
        </li>
        <li class="form-select__dropdown__item" data-code="CH" data-name="Switzerland">
            <img src="https://www.cia.gov/the-world-factbook/static/c56c352692a6086f7357e7acad58c29e/4d842/SZ-flag.webp" alt="Flag of Switzerland" class="vti__flag ch">Switzerland
        </li>
        <li class="form-select__dropdown__item" data-code="SY" data-name="Syria">
            <img src="https://www.cia.gov/the-world-factbook/static/14323b28671effa52b53374bd44e0a4f/30f21/SY-flag.webp" alt="Flag of Syria" class="vti__flag sy">Syria
        </li>
        <li class="form-select__dropdown__item" data-code="TJ" data-name="Tajikistan">
            <img src="https://www.cia.gov/the-world-factbook/static/2ce3597087585dd37f9ecbfe27d73b52/cd5ef/TI-flag.webp" alt="Flag of Tajikistan" class="vti__flag tj">Tajikistan
        </li>
        <li class="form-select__dropdown__item" data-code="TZ" data-name="Tanzania">
            <img src="https://www.cia.gov/the-world-factbook/static/40b0298a8c1f28852c66afbcd2ff26f5/47294/TZ-flag.webp" alt="Flag of Tanzania" class="vti__flag tz">Tanzania
        </li>
        <li class="form-select__dropdown__item" data-code="TH" data-name="Thailand">
            <img src="https://www.cia.gov/the-world-factbook/static/f460216de65e28facddd0270864dfcdd/47294/TH-flag.webp" alt="Flag of Thailand" class="vti__flag th">Thailand
        </li>
        <li class="form-select__dropdown__item" data-code="TL" data-name="Timor-Leste">
            <img src="https://www.cia.gov/the-world-factbook/static/6d3bfbfa6f7e5fccd6a73d3c7bef51e6/436ac/TT-flag.webp" alt="Flag of Timor-Leste" class="vti__flag tl">Timor-Leste
        </li>
        <li class="form-select__dropdown__item" data-code="TG" data-name="Togo">
            <img src="https://www.cia.gov/the-world-factbook/static/fb71a9c378dcc6e2fe34dacfd023801f/47294/TO-flag.webp" alt="Flag of Togo" class="vti__flag tg">Togo
        </li>
        <li class="form-select__dropdown__item" data-code="TK" data-name="Tokelau">
            <img src="https://www.cia.gov/the-world-factbook/static/4a25cb6926d3e3a956f18202949568c0/af253/TL-flag.webp" alt="Flag of Tokelau" class="vti__flag tk">Tokelau
        </li>
        <li class="form-select__dropdown__item" data-code="TO" data-name="Tonga">
            <img src="https://www.cia.gov/the-world-factbook/static/c34f77c6ec53ed4390e75a4acfb2de02/cd5ef/TN-flag.webp" alt="Flag of Tonga" class="vti__flag to">Tonga
        </li>
        <li class="form-select__dropdown__item" data-code="TT" data-name="Trinidad and Tobago">
            <img src="https://www.cia.gov/the-world-factbook/static/a7ab59eaaafd82bd81be8afbe1920e96/06ff5/TD-flag.webp" alt="Flag of Trinidad and Tobago" class="vti__flag tt">Trinidad and Tobago
        </li>
        <li class="form-select__dropdown__item" data-code="TN" data-name="Tunisia">
            <img src="https://www.cia.gov/the-world-factbook/static/40cf28cffd1866bb5dd826a8d74738bd/80f13/TS-flag.webp" alt="Flag of Tunisia" class="vti__flag tn">Tunisia
        </li>
        <li class="form-select__dropdown__item" data-code="TR" data-name="Turkey">
            <img src="https://www.cia.gov/the-world-factbook/static/d2202188219748997b1d736da86bf115/76f01/TU-flag.webp" alt="Flag of Turkey" class="vti__flag tr">Turkey
        </li>
        <li class="form-select__dropdown__item" data-code="TM" data-name="Turkmenistan">
            <img src="https://www.cia.gov/the-world-factbook/static/2888883cbb144ce1f6ccd00f44ac0e01/740b2/TX-flag.webp" alt="Flag of Turkmenistan" class="vti__flag tm">Turkmenistan
        </li>
        <li class="form-select__dropdown__item" data-code="TV" data-name="Tuvalu">
            <img src="https://www.cia.gov/the-world-factbook/static/7d005f2fd619c8a6b8c33a055e55f241/d86a8/TV-flag.webp" alt="Flag of Tuvalu" class="vti__flag tv">Tuvalu
        </li>
        <li class="form-select__dropdown__item" data-code="UG" data-name="Uganda">
            <img src="https://www.cia.gov/the-world-factbook/static/b8eea5b009db42d21f1c9c468c262d30/34e4b/UG-flag.webp" alt="Flag of Uganda" class="vti__flag ug">Uganda
        </li>
        <li class="form-select__dropdown__item" data-code="UA" data-name="Ukraine">
            <img src="https://www.cia.gov/the-world-factbook/static/87a4aeb8fcc0c39b9318b06ae86fc055/76f01/UP-flag.webp" alt="Flag of Ukraine" class="vti__flag ua">Ukraine
        </li>
        <li class="form-select__dropdown__item" data-code="AE" data-name="United Arab Emirates">
            <img src="https://www.cia.gov/the-world-factbook/static/e6bc226d73f9c64b2bff9fa377a60f6e/55c3a/AE-flag.webp" alt="Flag of United Arab Emirates" class="vti__flag ae">United Arab Emirates
        </li>
        <li class="form-select__dropdown__item" data-code="GB" data-name="United Kingdom">
            <img src="https://www.cia.gov/the-world-factbook/static/207adb1f82584e4e4812247ee3870228/d4839/UK-flag.webp" alt="Flag of United Kingdom" class="vti__flag gb">United Kingdom
        </li>
        <li class="form-select__dropdown__item" data-code="US" data-name="United States of America">
            <img src="https://www.cia.gov/the-world-factbook/static/ee588cf04d974c70ba0b0169ed7e1050/2bfdb/US-flag.webp" alt="Flag of United States of America" class="vti__flag us">United States of America
        </li>
        <li class="form-select__dropdown__item" data-code="UY" data-name="Uruguay">
            <img src="https://www.cia.gov/the-world-factbook/static/01db03859b211f2717de79058894400d/2f3ee/UY-flag.webp" alt="Flag of Uruguay" class="vti__flag uy">Uruguay
        </li>
        <li class="form-select__dropdown__item" data-code="UZ" data-name="Uzbekistan">
            <img src="https://www.cia.gov/the-world-factbook/static/627da7413db8f8a6b23576d04a32af3f/cd5ef/UZ-flag.webp" alt="Flag of Uzbekistan" class="vti__flag uz">Uzbekistan
        </li>
        <li class="form-select__dropdown__item" data-code="VU" data-name="Vanuatu">
            <img src="https://www.cia.gov/the-world-factbook/static/176472600afd60443027958a36106d2a/66f96/NH-flag.webp" alt="Flag of Vanuatu" class="vti__flag vu">Vanuatu
        </li>
        <li class="form-select__dropdown__item" data-code="VE" data-name="Venezuela">
            <img src="https://www.cia.gov/the-world-factbook/static/09604e4f3c5b8f19f60f1b7d4fc371e2/7ff7b/VE-flag.webp" alt="Flag of Venezuela" class="vti__flag ve">Venezuela
        </li>
        <li class="form-select__dropdown__item" data-code="VN" data-name="Vietnam">
            <img src="https://www.cia.gov/the-world-factbook/static/b985142125bd6df381e99ae3508c5e89/47294/VM-flag.webp" alt="Flag of Vietnam" class="vti__flag vn">Vietnam
        </li>
        <li class="form-select__dropdown__item" data-code="YE" data-name="Yemen">
            <img src="https://www.cia.gov/the-world-factbook/static/ef03f3a4740eb9c84e5bd7686c86b09f/76f01/YM-flag.webp" alt ="Flag of Yemen" class="vti__flag ye">Yemen
        </li>
        <li class="form-select__dropdown__item" data-code="ZM" data-name="Zambia">
            <img src="https://www.cia.gov/the-world-factbook/static/22265a635536d5a54f69ca096cc1a5c1/b713c/ZA-flag.webp" alt="Flag of Zambia" class="vti__flag zm">Zambia
        </li>
        <li class="form-select__dropdown__item" data-code="ZW" data-name="Zimbabwe">
            <img src="https://www.cia.gov/the-world-factbook/static/e13c66cda41e184c1222b22c83e98d66/3eead/ZI-flag.webp" alt="Flag of Zimbabwe" class="vti__flag zw">Zimbabwe
        </li>
    </ul>
</div>
