<div class="g-input__wrapper m-gap-lg col-md-6 col-12">
    <div class="form-field">
        <input type="text" name="emlw" maxlength="9" data-i18n="[placeholder]zip_postcode_label_new2" class="form-control m-hidden-placeholder" placeholder="ZIP / Postal Code">

        <div class="form-field__icon-indicator">
            <svg class="g-icon" aria-hidden="true">
                <use href="#icon-alert"></use>
            </svg>
        </div>

        <div data-i18n="zip_postcode_label_new2" class="form-label">ZIP / Postal Code</div>

        <div class="form-message m-error"></div>
    </div>
</div>
</div>

<div class="form-message m-error">The Street field is required</div>